<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <div>
    <div class="single-post">
      <h1><%= post.name %></h1>
      <div><%= post.created_at %></div>
      <div><%= post.image %></div>
      <div><%= post.content %></div>
      <a href="/posts">Back to blog</a>
    </div>
    <div id="buttonSingleWrapper">
      <a href="/posts/<%= post.id %>/edit">
        <button id="editSingle">EDIT</button>
      </a>
      <form action="/posts/<%= post.id %>?_method=Delete " method="Post">
        <div><button id="deleteSingle">DELETE</button></div>
      </form>
    </div>
  </div>
</main>

<% include ./partials/footer %>
<% include ./partials/end %>
