<% include ./partials/boilerplate %>
<% include ./partials/header %>
<% include ./partials/nav-bar %>

<main>
  <h1 class="subject">Recipes</h1>
  <div class="contentWrapper">
    <div class="postWrapper">
      <% for (let posts of data) { %>
      <div class="post">
        <h1 class="postTitle"><%= posts.name %></h1>
        <div class="authorData">
          <h6>Author: <%= posts.author %></h6>
          <h6>Created on: <%= posts.created_at %></h6>
        </div>
        <h3 class="postTagline"><%= posts.tagline %></h3>
        <div class="mainImage"><img src="<%= posts.image %>"></div>
        <div><%= posts.content %></div>
        <div class="readMoreLink"><a href="/posts/<%= posts.id %>">Read more</a></div>
      </div>
    <% } %>
    </div>
    <% include ./partials/sidebar %>
  </div>
</main>

<% include ./partials/footer %>
<% include ./partials/end %>
